@import "./reset.scss";
@import "./mixins.scss";
@import "./variables.scss";

@import "../components/NavBar/NavBar.scss";

* {
	background: $bg-color-main;
}

h1 {
	color: $heading-text-color;
}

p {
	color: $paragraph-text-color;
}
