@mixin flex(
	$orientation: row,
	$wrapping: wrap,
	$justify: flex-start,
	$align: flex-start
) {
	display: flex;
	flex-flow: $orientation $wrapping;
	justify-content: $justify;
	align-items: $align;
}
